/*rot:#C60606; blau:#08088A; gelb:#FEDC00; grau: #E6E6E6*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.03.2016, 18:49:27
    Author     : Lisa
*/


.ui-outputlabel.ui-widget.heading{
    color: #08088A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.ui-btn.ui-shadow.ui-corner-all.mybutton{
    background-color: #08088A;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    border: none;
    display: inline-block;
}

.ui-btn.ui-shadow.ui-corner-all.possibilities{
    background-color: #E6E6E6;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: inline-block;
    text-align: left;
    max-width: 300px;
}

.input {
    background-color: #E6E6E6;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 240px;
    display: inline-block;
}

.text{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: inline-block; 
}

.datatable {
    cellspacing: 0px;
}

.numbering{
    width:15px;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.ui-btn.ui-shadow.ui-corner-all.navigationbaritem{
    background-color: #FAFAFA;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: inline-block;
    text-align: left;
    width: auto;
} 
ui-link.ui-btn.ui-tabs-anchor.mytab{
    background-color: #08088A;
    color: white;
}
