<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head><title>MyWebApp header</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>       
    </h:head>
    <pm:page>
        <ui:composition> 
            <link href="css/bootstrap.min.css" rel="stylesheet"/> 
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/bootstrap.min.js"></script>
            <script>
                history.pushState(null, document.title, location.href);
                window.addEventListener('popstate', function (event)
                {
                    history.pushState(null, document.title, location.href);
                });
            </script> 
            <h:body>     
                <h:form id="formid" onkeypress="if (event.keyCode === 13) {
                            return false;
                        }">
                    <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                    <h:outputStylesheet library="css" name="styles.css"/>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                                        data-target=".navbar-collapse" aria-expanded="false" style="width:auto">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ui:repeat value="#{testBean.navi.navigationList}" var="navigation">
                                    <p:commandButton value="#{navigation}" styleClass="navigationbaritem" onclick="this.style.backgroundColor = '#FEDC00'"
                                                     action="#{questionBean.navigate(navigation)}"/> 
                                </ui:repeat> 
                            </div>
                        </div>
                    </nav>   
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{pageTitle}" styleClass="heading"/>
                        <h:panelGrid columns="1" style="float: right" >
                            <p:commandButton value="Home" styleClass="mybutton" action="/home.xhtml" actionListener="#{questionBean.home}"/>
                            <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                            </p:commandButton>
                        </h:panelGrid>    
                    </p:panelGrid>  
                </h:form>
            </h:body>
        </ui:composition>
    </pm:page> 
</html>