<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
                myCommand();
            }
        </script>
        <h:form onkeypress="if (event.keyCode === 13) {
                    return false;
                }">
            <pm:page id="pageid">               
                <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                <p:panelGrid columns="2">
                    <p:outputLabel value="Administratoren- und Superuserlogin" class="heading"/>
                    <p:panelGrid columns="1" style="float: right;">
                        <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                        </p:commandButton>
                    </p:panelGrid>
                </p:panelGrid>
                <pm:content>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>           
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Benutzername:"/>
                        <p:inputText value="#{loginBean.ls.username}"/>

                        <p:outputLabel value="Passwort:"/>
                        <h:panelGrid columns="2">
                            <p:password value="#{loginBean.ls.password}"/>
                        </h:panelGrid>
                    </h:panelGrid>
                    <p:commandLink value="Passwort vergessen" styleClass="text" style="color:#C60606;">
                        <p:confirm header="Passwort zurücksetzten" message="Ein neues Passwort wird Ihnen 
                                   an ihre Mailadresse gesendet. 
                                   Verwenden Sie dieses um sich anzumelden und ändern Sie es nach Bedarf
                                   in den persönlichen Daten."/>
                    </p:commandLink>
                    <p:confirmDialog id="cd" global="true" style="width:50%" hideEffect="fade">
                        <p:commandButton value="OK" styleClass="mybutton" icon="ui-icon-check" 
                                         onclick="cd.hide()" actionListener="#{loginBean.sendMail}"/>
                    </p:confirmDialog>
                    <p:commandButton value="Anmelden" action="#{loginBean.loginAdmin}"
                                     styleClass="mybutton"/>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>
