<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function(event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
            myCommand();
            }
        </script>
        <h:form onkeypress="if (event.keyCode === 13) { return false; }">
            <pm:page id="pageid">               
                <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                <h:outputStylesheet library="css" name="styles.css"/>
                <p:panelGrid columns="2">
                    <p:outputLabel value="Feuerwehrdaten ändern" styleClass="heading"/>
                    <h:panelGrid columns="2" style="float:right">      
                        <p:commandButton value="Home" styleClass="mybutton" action="/home.xhtml" actionListener="#{questionBean.home}"/>
                        <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                        </p:commandButton>
                    </h:panelGrid>          
                </p:panelGrid>   
                <pm:content id="content">
                    <p:messages id="messages" showDetail="true" autoUpdate="true"/>           
                    <h:panelGrid columns="2">

                        <p:outputLabel value="Feuerwehr:"/>
                        <h:outputLabel value="#{firebrigadeBean.firebrigade.location}"/>
                        
                        <p:outputLabel value="Feuerwehrkommandant:"/>
                        <p:inputText value="#{firebrigadeBean.firebrigade.commander}"/>                                                           

                        <p:outputLabel value="Feuerwehrjugendleiter:"/>
                        <p:inputText value="#{firebrigadeBean.firebrigade.youthCommander}"/>

                        <p:outputLabel value="Gründungsjahr:"/> 
                        <p:inputText value="#{firebrigadeBean.firebrigade.foundingYear}"/>
                        
                        <p:outputLabel value="Ort mit nächstem hydraulischen Rettungsgerät:"/> 
                        <p:inputText value="#{firebrigadeBean.firebrigade.rescueEquipment}"/>
                       
                    </h:panelGrid>
                    <p:commandButton value="Speichern" styleClass="mybutton"
                                     actionListener="#{firebrigadeBean.saveFirebrigade()}"/>
                    <area onclick="confirmExit();"/>
                    <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>
