<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function(event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
            myCommand();
            }
        </script>
        <h:form onkeypress="if (event.keyCode === 13) { return false; }">
            <pm:page id="pageid">               
                <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                <h:outputStylesheet library="css" name="styles.css"/>
                <p:panelGrid columns="2">
                    <p:outputLabel value="Persönliche Daten ändern" styleClass="heading"/>
                    <h:panelGrid columns="2" style="float:right">      
                        <p:commandButton value="Home" styleClass="mybutton" action="/home.xhtml" actionListener="#{questionBean.home}"/>
                        <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                        </p:commandButton>
                    </h:panelGrid>          
                </p:panelGrid>   
                <pm:content id="content">
                    <p:messages id="messages" showDetail="true" autoUpdate="true"/>           
                    <h:panelGrid columns="3">

                        <p:outputLabel value="Benutzername:"/>
                        <h:inputText value="#{loginBean.ls.currentUser.username}"
                                     readonly="true"/>  
                        <p:outputLabel value="Kann nicht verändert werden" styleClass="text"
                                       style ="color:#C60606;"/>

                        <p:outputLabel value="E-Mail:"/>
                        <p:inputText id="emailid" value="#{loginBean.ls.email}"
                                     onkeypress="onchange();" style="width:auto">
                            <f:ajax event="change" listener="#{loginBean.ls.setIsMailChanged}" />
                        </p:inputText>    
                        <p:outputLabel value=""/>

                        <p:outputLabel value="Feuerwehr:"/>
                        <h:inputText value="#{loginBean.ls.currentfirebrigade.location}" readonly="true"/>
                        <p:outputLabel value=""/>

                        <p:outputLabel value="Passwort:"/> 
                        <p:commandButton value="Bearbeiten" styleClass="mybutton" onclick="PF('dlg1').show();"
                                         icon="ui-icon-edit"/>
                        <p:dialog header="Passwort ändern" widgetVar="dlg1" showEffect="pop">
                            <h:panelGrid columns="2">
                                <p:outputLabel value="Altes Passwort:" />
                                <p:password value="#{loginBean.ls.oldPassword}"/>

                                <p:outputLabel value="Neues Passwort: "/>
                                <p:password id="passwordid" value="#{loginBean.ls.newPassword}"/>

                                <p:outputLabel value="Neues Passwort bestätigen: "/>
                                <p:password value="#{loginBean.ls.newPasswordConfirm}"/>
                            </h:panelGrid>
                            <p:commandButton value="Speichern" actionListener="#{loginBean.savePassword}"
                                             update="passwordid" onclick="dlg1.hide()" styleClass="mybutton"/>
                        </p:dialog>
                    </h:panelGrid>
                    <p:commandButton value="Speichern" styleClass="mybutton"
                                     actionListener="#{loginBean.save}" update="messages emailid"
                                     accesskey="s"/>
                    <area onclick="confirmExit();"/>
                    <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>
