<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>  
    </h:head>
    <h:body>
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
            myCommand();
            }
        </script>
        <f:view transient="true">
            <pm:page>
                <h:outputStylesheet library="css" name="styles.css"/>
                <h:form onkeypress="if (event.keyCode === 13) { return false; }">  
                    <ui:include src="/WEB-INF/templates/header.xhtml">
                        <ui:param name="pageTitle" value="Test auswählen"/>    
                    </ui:include>         
                    <pm:content>
                        <p:panelGrid columns="1">
                            <h:dataTable var="test" value="#{testBean.testservice.list}" styleClass="datatable" rendered="true">
                                <h:column>
                                    <p:commandButton value="#{test.name}" styleClass="possibilities" actionListener="#{testBean.saveNavigation(test)}"
                                                     action="success" rendered="#{test.active}"/> 
                                </h:column>
                            </h:dataTable>  
                            <p:button value="Rechtliche Hinweise" styleClass="mybutton" outcome="/references.xhtml" 
                                      style="width:auto;"/>
                        </p:panelGrid>  
                        <area onclick="confirmExit();"/>
                        <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                    </pm:content>
                </h:form>
            </pm:page>
        </f:view>
    </h:body>
</html>