<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
            myCommand();
            }
        </script>
        <h:form onkeypress="if (event.keyCode === 13) { return false; }">
            <pm:page>
                <ui:include src="/WEB-INF/templates/header.xhtml">
                    <ui:param name="pageTitle" value="Lernunterlagen"/>    
                </ui:include> 
                <pm:content>
                    <p:panelGrid>                        
                        <p:commandButton styleClass="possibilities" value="#{testStepBean.navi.testStep.name}" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.learningDoc}" />
                        </p:commandButton>                        
                        <h:outputLink id="link1" value="http://www.lfv-bgld.at/videos/" target="_blank">
                            <h:outputText class="possibilities" value="Videos"/>
                        </h:outputLink>
                    </p:panelGrid>
                    <area onclick="confirmExit();"/>
                    <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>
