<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Administratorbereich</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function(event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
                myCommand();
            }
        </script>
        <f:view id="view">
            <h:form id="form" enctype="multipart/form-data" onkeypress="if (event.keyCode === 13) {
                        return false;
                    }">                
                <pm:page id="page">
                    <h:panelGrid columns="1" style="float:right">      
                        <p:commandButton value="Home" styleClass="mybutton" action="/home.xhtml" actionListener="#{questionBean.home}"/>                       
                    </h:panelGrid>
                    <p:outputLabel value="Administratorbereich" styleClass="heading"/>     

                    <p:tabView  id="tabView">
                        <p:tab title="Daten bearbeiten"  titleStyle="background: #08088A; color: white">                           
                            <p:outputLabel value="#{dataBean.navString()}" id="navString" style="font-weight: bold"/>
                            <p:messages closable="true" autoUpdate="false" />
                            <h:panelGrid columns="3" cellpadding="20">  

                                <h:dataTable var="test" value="#{dataBean.testService.list}" styleClass="datatable" id="testtable">
                                    <f:facet name="header">Tests:</f:facet>
                                    <h:column>
                                        <p:commandButton value="#{test.name}" class="possibilities" actionListener="#{dataBean.showTeststeps(test)}" update="form:page:tabView:steptable form:page:tabView:navString form:page:tabView:categorytable form:page:tabView:catlistbox"/>                                               
                                    </h:column>
                                    <h:column>
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-edit" actionListener="#{dataBean.setCurrentTest(test)}" ajax="false"/>
                                    </h:column>
                                    <h:column>          
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-remove" actionListener="#{dataBean.deleteTest(test)}" ajax="false"/>
                                    </h:column>
                                    <h:column>     
                                        <f:facet name="header">Aktiv</f:facet>
                                        <h:selectBooleanCheckbox value="#{test.active}">                                        
                                            <p:ajax listener="#{dataBean.changeActive(test)}" />
                                        </h:selectBooleanCheckbox>
                                    </h:column>
                                </h:dataTable>

                                <h:dataTable id="steptable" var="teststep" value="#{testStepBean.testStepsOfTest}" styleClass="datatable">
                                    <f:facet name="header">Teststufen:</f:facet>
                                    <h:column>
                                        <p:commandButton value="#{teststep.name}" class="possibilities" actionListener="#{dataBean.showCategories(teststep)}" update="form:page:tabView:categorytable form:page:tabView:navString"/>                            
                                    </h:column>
                                    <h:column>
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-edit" actionListener="#{dataBean.setCurrentTeststep(teststep)}" ajax="false"/>
                                    </h:column>
                                    <h:column>          
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-remove" actionListener="#{dataBean.deleteTeststep(teststep)}" ajax="false"/>
                                    </h:column>
                                </h:dataTable>

                                <h:dataTable id="categorytable" var="cat" value="#{categoryBean.categoriesOfTestStep}" styleClass="datatable">
                                    <f:facet name="header">Kategorien:</f:facet>
                                    <h:column>
                                        <p:commandButton value="#{cat.name}" class="possibilities" />                            
                                    </h:column>
                                    <h:column> 
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-edit" actionListener="#{dataBean.setCurrentCategory(cat)}" ajax="false"/>
                                    </h:column>
                                    <h:column>          
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-remove" actionListener="#{dataBean.deleteCategory(cat)}" ajax="false"/>
                                    </h:column>
                                </h:dataTable>

                                <h:panelGrid columns="2" id="testdetails">
                                    <p:outputLabel value="Testname:"/>
                                    <p:inputText value="#{dataBean.newTestname}"/>
                                    <p:commandButton styleClass="mybutton" value="Neu" actionListener="#{dataBean.addTest()}" ajax="false" />
                                    <p:commandButton styleClass="mybutton" value="Speichern" actionListener="#{dataBean.changeTestName()}" ajax="false"/>                                   
                                </h:panelGrid>
                                <h:panelGrid columns="2" id="teststepdetails">
                                    <p:outputLabel value="Teststufe:"/>
                                    <p:inputText value="#{dataBean.newStepname}"/>
                                    <p:commandButton styleClass="mybutton" value="Neu" actionListener="#{dataBean.addTestStep()}" ajax="false" />
                                    <p:commandButton styleClass="mybutton" value="Speichern" actionListener="#{dataBean.changeTeststepName()}" ajax="false"/>                                       
                                </h:panelGrid>
                                <h:panelGrid columns="1" id="categorydetails">
                                    <h:panelGrid columns="2">
                                        <p:outputLabel value="Kategorie:"/>
                                        <p:inputText value="#{dataBean.newCatName}"/>
                                        <p:commandButton styleClass="mybutton" value="Neu" actionListener="#{dataBean.addCat()}" ajax="false" />
                                        <p:commandButton styleClass="mybutton" value="Speichern" actionListener="#{dataBean.changeCatName()}" ajax="false"/>                                       
                                    </h:panelGrid>

                                </h:panelGrid>
                            </h:panelGrid>
                            <h:panelGrid columns="2">
                                <p:outputLabel value=""/>
                                <f:facet name="header">Kategorie zu aktueller Teststufe hinzufügen</f:facet>
                                <p:outputLabel value=""/>
                                <p:outputLabel for="catlistbox" value="Kategorien pro Test:" />
                                <p:selectOneMenu value="#{dataBean.currCatForStep}" id="catlistbox" converter="catConverter">
                                    <f:selectItems var="cat" value="#{categoryBean.categoriesOfTest}" itemValue="#{cat}" itemLabel="#{cat.name}"/>
                                </p:selectOneMenu>
                                <p:commandButton styleClass="mybutton" value="Kategorie hinzufügen" ajax="false" actionListener="#{dataBean.addCatToStep()}"/>  
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Fragen bearbeiten">
                            <p:messages/>
                            <h:panelGrid columns="1" style="float:right">  
                                <p:commandButton styleClass="mybutton" value="Anleitung für die Importfunktion" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                    <p:fileDownload value="#{fileDownloadBean.instructionFile}" />
                                </p:commandButton>
                                <p:commandButton styleClass="mybutton" value="Download CSV Vorlage" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                    <p:fileDownload value="#{fileDownloadBean.CSVTemplate}" />
                                </p:commandButton>
                            </h:panelGrid>
                            <h:panelGrid columns="3" cellpadding="20">   

                                <p:selectOneMenu  value="#{uploadBean.currTest}" id="tests" converter="testConverter">
                                    <f:selectItem itemValue="#{null}" itemLabel="Test wählen" noSelectionOption="true" />
                                    <f:selectItems var="test" value="#{dataBean.testService.list}" itemValue="#{test}" itemLabel="#{test.name}"/>
                                    <p:ajax update="steps stepsforadding"/>
                                </p:selectOneMenu>

                                <p:selectOneMenu value="#{uploadBean.currStep}" id="steps" converter="stepConverter">
                                    <f:selectItem itemValue="#{null}" itemLabel="Teststufe wählen" noSelectionOption="true" />
                                    <f:selectItems var="step" value="#{testStepBean.getTestStepsPerTest(uploadBean.currTest)}" itemValue="#{step}" itemLabel="#{step.name}"/>
                                    <p:ajax update="cats"/>
                                </p:selectOneMenu>

                                <p:selectOneMenu value="#{uploadBean.currCat}" id="cats" converter="catConverter">
                                    <f:selectItem itemValue="#{null}" itemLabel="Kategorie wählen" noSelectionOption="true" />
                                    <f:selectItems var="cat" value="#{categoryBean.getCategoriesPerTestStep(uploadBean.currStep)}" itemValue="#{cat}" itemLabel="#{cat.name}"/>
                                    <p:ajax update="questions"/>
                                </p:selectOneMenu>
                                <h:panelGrid columns="2">
                                    <f:facet name="header">Aktuelle Teststufe</f:facet>
                                    <p:selectOneMenu value="#{uploadBean.step}" id="stepsforadding" converter="stepConverter">                                   
                                        <f:selectItem itemValue="#{null}" itemLabel="Stufe wählen" noSelectionOption="true" />
                                        <f:selectItems var="step" value="#{testStepBean.getTestStepsPerTest(uploadBean.currTest)}" itemValue="#{step}" itemLabel="#{step.name}"/>                             
                                    </p:selectOneMenu> 
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:panelGrid columns="2" cellpadding="40">
                                <h:dataTable id="questions" var="question" value="#{questionBean.getQuestionsOfCategoryPerTestStep(uploadBean.currCat,uploadBean.currStep)}" styleClass="datatable">
                                    <f:facet name="header">Fragen: </f:facet>
                                    <h:column>
                                        <f:facet name="header">Fragentext: </f:facet>
                                        <h:inputTextarea id="input" rows="3" value="#{question.text}" style="#{uploadBean.getBackground(question)}" />                                                                
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Hinweis: </f:facet>
                                        <h:inputTextarea value="#{question.hint}"/>                           
                                    </h:column> 
                                    <h:column>
                                        <p:commandButton style="background: #08088A; color: white; width: 30px" value="" icon="fa fa-fw fa-save" ajax="false" actionListener="#{uploadBean.saveQuestion(question)}"/>
                                        <p:commandButton style="background: #08088A; color: white; width: 30px" value="" icon="fa fa-fw fa-remove" ajax="false" actionListener="#{uploadBean.deleteQuStep(question)}"/>
                                    </h:column>
                                    <h:column>                                     
                                        <p:commandButton style="background: #08088A; color: white"  value="Antworten" ajax="false" actionListener="#{uploadBean.setCurrQuestion(question)}"/>
                                        <p:commandButton style="background: #08088A; color: white"  value="Zu Teststufe hinzufügen"   title="Zu aktueller oben ausgewählter Teststufe hinzufügen" ajax="false" actionListener="#{uploadBean.addQuestionToStep(question)}"/>
                                    </h:column>
                                </h:dataTable>
                                <h:dataTable id="answers" var="answer" value="#{uploadBean.answerService.getAnswersPerQuestion(uploadBean.currQuestion.id)}" styleClass="datatable">
                                    <h:column>
                                        <f:facet name="header">Antworten: </f:facet>
                                        <h:inputTextarea rows="3" value="#{answer.text}"/>
                                    </h:column>
                                    <h:column>     
                                        <f:facet name="header">Korrekt</f:facet>
                                        <h:selectBooleanCheckbox value="#{answer.correct}">                                        
                                            <p:ajax listener="#{uploadBean.changeCorrect(answer)}" />
                                        </h:selectBooleanCheckbox>
                                    </h:column>
                                    <h:column>
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-save" ajax="false" actionListener="#{uploadBean.saveAnswer(answer)}"/>
                                        <p:commandButton style="background: #08088A; color: white" value="" icon="fa fa-fw fa-remove" ajax="false" actionListener="#{uploadBean.deleteAnswer(answer)}"/>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGrid>
                            <p:fileUpload mode="simple" value="#{uploadBean.uploadedFile}" fileLimit="1"/>
                            <p:commandButton value="CSV hochladen" action="#{uploadBean.uploadCSV}" ajax="false" />
                            <p:fileUpload mode="simple" value="#{uploadBean.uploadedImage}" fileLimit="1"/>
                            <p:commandButton value="Bild hochladen" action="#{uploadBean.uploadImage}" ajax="false" />
                        </p:tab>
                        <area onclick="confirmExit();"/>
                        <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                    </p:tabView>
                </pm:page>
            </h:form>
        </f:view>      
    </h:body>
</html>
