<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function(event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
                myCommand();
            }
        </script>
        <h:form onkeypress="if (event.keyCode === 13) { return false; }">
            <pm:page id="pageid">               
                <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/> 
                <h:panelGrid columns="2">
                    <p:outputLabel value="E-Mail:"/>
                    <p:inputText value="#{loginBean.ls.email}"/>
                </h:panelGrid>
                <p:commandButton value="Weiter zum Übungsprogramm" action="#{loginBean.saveMail}"/>
                <area onclick="confirmExit();"/>
                <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
            </pm:page>
        </h:form>
    </h:body>
</html>
