<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>   
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function(event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
                myCommand();
            }
        </script>
        <f:view transient="true">
            <h:form onkeypress="if (event.keyCode === 13) {
                        return false;
                    }"> 
                <h:outputStylesheet library="css" name="styles.css"/>
                <h:outputScript library="primefaces" name="hotkey/hotkey.js" target="head"></h:outputScript>
                <pm:page id="pageid">
                    <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                    <p:panelGrid columns="2" layout="grid">
                        <p:outputLabel value="Home" class="heading"/>
                        <p:panelGrid columns="1" style="float: right">
                            <p:commandButton value="Logout" style="width:auto" styleClass="mybutton" action="#{questionBean.logout}"/>
                            <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                            </p:commandButton>
                        </p:panelGrid>  
                        <p:outputLabel value=""/>
                        <p:commandButton styleClass="mybutton" style="width:auto; float: right" value="Administratorhandbuch" ajax="false" rendered="#{loginBean.ls.isAdmin}" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.adminHelp}" />
                        </p:commandButton>
                        <p:commandButton styleClass="mybutton" style="width:auto; float: right" value="Superuserhandbuch" ajax="false" rendered="#{loginBean.ls.isSuperUser}" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.superuserHelp}" />
                        </p:commandButton> 
                    </p:panelGrid>
                    <area onclick="confirmExit();"/>
                    <p:remoteCommand name="myCommand" action="#{questionBean.logoutOnBrowserCloseEvent}"/>
                    <pm:content>
                        <p:panelGrid columns="1" id="panelGridid">
                            <p:row>
                                <p:outputLabel value="Hallo #{loginBean.ls.nameOfUser}" class="text"/>
                            </p:row> 
                            <p:commandButton id="btn1" value="Übungsprogramm starten" class="mybutton" actionListener="#{navigationBean.saveTestNavigation}"
                                             action="/chooseTest.xhtml" widgetVar="ueben"/>
                            <p:commandButton value="Persönliche Daten ändern" styleClass="mybutton" action="/changePersonalData.xhtml" rendered="#{loginBean.ls.isAdminOrSuperUser}"/>
                            <p:commandButton value="Feuerwehrdaten ändern" styleClass="mybutton" action="/changeFirebrigadeData.xhtml" rendered="#{loginBean.ls.isSuperUser}"/>
                            <p:commandButton value="Benutzerverwaltung" styleClass="mybutton" action="/usermanagement.xhtml" rendered="#{loginBean.ls.isAdmin}"/>
                            <p:panelGrid columns="2" rendered="#{loginBean.ls.isAdmin}">
                                <p:commandButton value="Statistik" styleClass="mybutton" action="/statisticsAdmin.xhtml"/>
                                <p:selectOneMenu value="#{chartView.year}">
                                    <f:selectItems var="year" value="#{chartView.yearList}" itemValue="#{year}"/>
                                </p:selectOneMenu> 
                            </p:panelGrid>
                            <p:panelGrid columns="2" rendered="#{loginBean.ls.isSuperUser}">
                                <p:commandButton value="Statistik" styleClass="mybutton" action="/statisticsSuperuser.xhtml"/>
                                <p:selectOneMenu value="#{chartView.year}">
                                    <f:selectItems var="year" value="#{chartView.yearList}" itemValue="#{year}"/>
                                </p:selectOneMenu> 
                            </p:panelGrid>
                            <p:commandButton value="Daten verwalten" styleClass="mybutton" action="/editdata.xhtml" rendered="#{loginBean.ls.isAdmin}"/>
                        </p:panelGrid> 
                        <p:defaultCommand target="btn1"/>
                    </pm:content>
                </pm:page>
            </h:form>
        </f:view>
    </h:body>
</html>
