<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function (event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <f:view>
            <h:form onkeypress="if (event.keyCode === 13) {
                        return false;
                    }">
                <pm:page id="pageid">               
                    <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Anmelden zum Fragen üben" class="heading"/>
                        <p:panelGrid columns="1" style="float: right;">
                            <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                            </p:commandButton>
                        </p:panelGrid>
                    </p:panelGrid>
                    <pm:content>
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>
                        <h:panelGrid columns="2" style="width:100%">           
                            <h:panelGrid columns="2">
                                <p:outputLabel value="Name:"/>
                                <p:inputText value="#{loginBean.ls.name}"/>

                                <p:outputLabel value="Feuerwehr:"/>
                                <p:selectOneMenu value="#{loginBean.ls.firebrigade}" converter="firebrigadeConv">
                                    <f:selectItems var="firebrigade" value="#{loginBean.fs.list}" itemValue="#{firebrigade}" itemLabel="#{firebrigade.location}" />
                                </p:selectOneMenu>             
                            </h:panelGrid>
                            <h:panelGrid columns="1" style="float:right;">
                                <p:commandButton value="Administratorenlogin" styleClass="mybutton" style="width:auto;float:right;"
                                                 action="#{loginBean.showInfo}" icon="ui-icon-star" ajax="false"/>
                            </h:panelGrid>
                        </h:panelGrid>
                        <p:commandButton value="Zum Onlinetrainer" action="#{loginBean.login}" 
                                         styleClass="mybutton" ajax="false" widgetVar="zO"/>
                    </pm:content>
                </pm:page>
            </h:form>
        </f:view>
    </h:body>
</html>
