<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">    
    <h:head>
        <title>Onlinetrainer</title>
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function (event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script>
        <f:view id="view" transient="true">
            <h:outputStylesheet library="css" name="styles.css"/>
            <h:form onkeypress="if (event.keyCode === 13) {
                        return false;
                    }">
                <pm:page>
                    <pm:content>
                        <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                        <h:outputStylesheet library="css" name="styles.css"/>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="#{questionBean.navi.testStep.name} #{questionBean.categoryNameWithArrow}" styleClass="heading"/>
                            <h:panelGrid columns="2" style="float: right" >
                                <p:commandButton value="Home" styleClass="mybutton" style="width:auto;" action="/home.xhtml" actionListener="#{questionBean.home}"/>
                                <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                    <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                                </p:commandButton>
                            </h:panelGrid>    
                        </p:panelGrid>  
                        <p:panelGrid columns="1">
                            <h:outputText value="#{questionBean.question.text}" styleClass="text"/>
                            <h:outputText value="#{questionBean.hint}" styleClass="text" style="font-weight: bold"/>
                            <h:dataTable id="d" rows="#{questionBean.columnCnt}" var="answer" value="#{questionBean.answers}" rendered="#{questionBean.isText}" styleClass="datatable">
                                <h:column>
                                    <h:inputText value="#{questionBean.inputMap.get(answer.id)}"  valueChangeListener="#{questionBean.valueChanged}"
                                                 styleClass="input" style="#{answer.textcolor}" autocomplete="off">
                                        <p:ajax update="d"/>
                                        <f:attribute name="answer" value="#{answer}"/>
                                    </h:inputText>
                                </h:column>
                            </h:dataTable>

                            <h:dataTable var="answer" value="#{questionBean.answers}" rendered="#{questionBean.isNumbering}" styleClass="datatable">
                                <h:column>
                                    <h:inputText id="numberInput" value="#{questionBean.numMap.get(answer.id)}"  valueChangeListener="#{questionBean.valueChangedNumber}"
                                                 style="#{answer.textcolor};width:35px" autocomplete="off">
                                        <p:ajax update="numberInput"/>
                                        <f:attribute name="answer" value="#{answer}"/>
                                        <f:converter converterId="NumberConverterID"/>
                                    </h:inputText>
                                </h:column>
                                <h:column>
                                    <h:outputText value="#{answer.text}" styleClass="text"/>
                                </h:column>
                            </h:dataTable>
                            <h:messages for="numberInput"/>
                            <h:dataTable var="ans" value="#{questionBean.answers}" cellspacing="1" rendered="#{questionBean.isMultCh}" >
                                <h:column>
                                    <p:selectBooleanCheckbox value="#{questionBean.boolMap.get(ans.id)}"  valueChangeListener="#{questionBean.valueChangedMult}"
                                                             style="width:25px" styleClass="input">
                                        <f:attribute name="ans" value="#{ans}"/>
                                    </p:selectBooleanCheckbox>
                                </h:column>
                                <h:column> 
                                    <p:outputLabel value="#{ans.text}" style="#{ans.backcolor}#{ans.textcolor}"/>
                                </h:column>
                            </h:dataTable>

                            <h:dataTable var="ans" value="#{questionBean.answers}" cellspacing="2" rendered="#{questionBean.isPicSelection}" >
                                <h:column>
                                    <p:panelGrid columns="1">
                                        <p:selectBooleanCheckbox value="#{questionBean.boolMap.get(ans.id)}"  valueChangeListener="#{questionBean.valueChangedMult}"
                                                                 styleClass="input" style="width:25px">
                                            <!--<f:ajax execute="@this" render="@this"/>-->
                                            <f:attribute name="ans" value="#{ans}"/>
                                        </p:selectBooleanCheckbox>
                                        <p:graphicImage library="images" name="#{ans.text}" width="auto" height="130" />
                                    </p:panelGrid>
                                </h:column>
                                <h:column>
                                    <h:outputText value="#{ans.picSelectionText}" style="#{ans.picSelectionColor}"/>
                                </h:column>
                            </h:dataTable>

                            <!--<p:commandButton value="Lösung anzeigen" actionListener="{questionBean.showSolution}" styleClass="button" rendered="{questionBean.isComparison}">
                                <f:ajax execute="@this" render="image1"/>
                            </p:commandButton>-->
                            <h:dataTable id="image1" var="ans" value="#{questionBean.answers}" cellspacing="2" rendered="#{questionBean.isComparison}" >
                                <h:column>
                                    <h:graphicImage library="images" name="#{ans.text}" width="auto" height="130" rendered="#{questionBean.isSolutionRequired}"/> 
                                </h:column>
                            </h:dataTable>

                            <h:dataTable var="ans" value="#{questionBean.answers}" cellspacing="2" rendered="#{questionBean.isVideo}" >
                                <h:column>
                                    <h:outputLink id="link1" value="#{ans.text}" target="_blank">
                                        <h:outputText class="button" value="Lösung anzeigen"/>
                                    </h:outputLink>
                                </h:column>
                            </h:dataTable>

                        </p:panelGrid>
                        <h:commandButton id="next" value="Weiter" actionListener="#{questionBean.next}" action="#{questionBean.action()}" styleClass="mybutton"/>
                    </pm:content>
                    <h:outputText value="#{questionBean.correct}" rendered="#{questionBean.rightAnswersShouldBeShown}" styleClass="text"/>
                </pm:page>
            </h:form>
        </f:view>
    </h:body>
</html>
