<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
            myCommand();
            }
        </script>
        <h:form onkeypress="if (event.keyCode === 13) { return false; }">
            <pm:page>
                <ui:include src="/WEB-INF/templates/header.xhtml">
                    <ui:param name="pageTitle" value="Quellenangabe"/> 
                </ui:include>  
                <pm:content>
                    <p:outputLabel value="Die nachfolgenden Bilder stammen aus der 
                                   Sammlung des Landesfeuerwehrkommandos Burgenland und sind rechtlich geschützt."/>
                    <p:button outcome="/chooseTest.xhtml" value="Zurück" styleClass="mybutton"/>
                    <area onclick="confirmExit();"/>
                    <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>
