<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Onlinetrainer</title>   
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function(event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
                myCommand();
            }
        </script>    
        <h:form id="formid" onkeypress="if (event.keyCode === 13) {
                    return false;
                }"> 
            <pm:page id="pageid">
                <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                <p:panelGrid columns="2" layout="grid">
                    <p:outputLabel value="Statistik" class="heading"/>
                    <h:panelGrid columns="2" style="float:right">      
                        <p:commandButton value="Home" styleClass="mybutton" action="/home.xhtml" actionListener="#{questionBean.home}"/>
                        <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                        </p:commandButton>
                    </h:panelGrid>  
                </p:panelGrid>
                <area onclick="confirmExit();"/>
                <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                <pm:content> 
                    <f:event type="preRenderView" listener="#{chartView.init}" />
                    <p:chart id="chart" type="line" model="#{chartView.lineModel2}" style="height:300px;" responsive="true"/>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>
