<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function (event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script> 
        <f:view transient="true">
            <h:form onkeypress="if (event.keyCode === 13) {
                        return false;
                    }">
                <pm:page id="pageid">               
                    <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                    <p:panelGrid columns="2" layout="grid">
                        <p:outputLabel value="Login for Testing" class="heading"/>
                        <p:panelGrid columns="1" style="float: right">
                            <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                            </p:commandButton>
                        </p:panelGrid>
                    </p:panelGrid>
                    <pm:content>
                        <h:panelGrid columns="2">
                            <p:outputLabel value="Benutzername:"/>
                            <p:inputText id="username" value="#{testloginBean.username}"/>

                            <p:outputLabel value="Passwort:"/>
                            <p:password id="password" value="#{testloginBean.password}"/>             
                        </h:panelGrid>
                        <p:commandButton id="button" value="Login" action="#{testloginBean.login}" 
                                         styleClass="mybutton"/>
                    </pm:content>
                </pm:page>
            </h:form>
        </f:view>
    </h:body>
</html>
