<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>
        <h:outputStylesheet library="css" name="styles.css"  />
    </h:head>
    <h:body>
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
                myCommand();
            }
        </script>
        <h:form onkeypress="if (event.keyCode === 13) { return false; }">
            <pm:page>
                <ui:include src="/WEB-INF/templates/header.xhtml">
                    <ui:param name="pageTitle" value="#{testStepBean.navi.testStep.name}"/>    
                </ui:include>
                <pm:content>
                    <p:panelGrid styleClass="datatable">
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>
                        <p:commandButton class="possibilities" value="Fragen üben" action="/practiceQuestions.xhtml" actionListener="#{questionBean.setPracticeKind}"/>
                        <p:commandButton class="possibilities" value="Falsch beantwortete Fragen üben" action ="#{questionBean.setPracticeWrongKind}"/>
                        <p:commandButton class="possibilities" value="Unterlagen ansehen" action="/documents.xhtml" actionListener="#{questionBean.saveDocumentNavigation}"/>
                    </p:panelGrid>
                    <area onclick="confirmExit();"/>
                    <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>
