<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    <h:head>
        <title>Onlinetrainer</title>   
    </h:head>
    <h:body>
        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function(event)
            {
                history.pushState(null, document.title, location.href);
            });
        </script>
        <script>
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
            myCommand();
            }
        </script>
        <h:form id="form" onkeypress="if (event.keyCode === 13) { return false; }"> 
            <h:outputStylesheet library="css" name="styles.css"/>
            <pm:page id="page">
                <p:graphicImage library="images" name="logo_onlinetrainer.png" width="100%" height="auto"/>
                <p:panelGrid columns="2">
                    <p:outputLabel value="Benutzerverwaltung" class="heading"/>
                    <h:panelGrid columns="2" style="float: right" >
                        <p:commandButton value="Home" styleClass="mybutton" style="width:auto;" action="/home.xhtml" actionListener="#{questionBean.home}"/>
                        <p:commandButton styleClass="mybutton" value="?" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                            <p:fileDownload value="#{fileDownloadBean.helpFile}" />
                        </p:commandButton>
                    </h:panelGrid>
                </p:panelGrid>
                <area onclick="confirmExit();"/>
                <p:remoteCommand name="myCommand" actionListener="#{questionBean.logoutOnBrowserCloseEvent}"/>
                <pm:content>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/> 
                    <p:tabView  id="tabView">
                        <p:tab title="Neue User anlegen" class="mytab" id="tab1"> 
                            <h:panelGrid columns="2" id="p1">
                                <p:outputLabel value="Benutzername:"/>
                                <p:inputText value="#{usermanagementBean.username}"/>

                                <p:outputLabel value="Passwort:"/>
                                <p:inputText value="#{usermanagementBean.password}"/>

                                <p:outputLabel value="E-Mail:"/>
                                <p:inputText value="#{usermanagementBean.email}"/>

                                <p:outputLabel value="Feuerwehr:"/>
                                <p:selectOneMenu value="#{usermanagementBean.firebrigade}" converter="firebrigadeConv">
                                    <f:selectItems var="firebrigade" value="#{usermanagementBean.fs.list}" itemValue="#{firebrigade}" itemLabel="#{firebrigade.location}"/>
                                </p:selectOneMenu>   

                                <p:outputLabel value="Userrecht:"/>
                                <p:selectOneMenu value="#{usermanagementBean.userright}" converter="userrightConv">
                                    <f:selectItems var="userright" value="#{usermanagementBean.urs.list}" itemValue="#{userright}" itemLabel="#{userright.userright}"/>
                                </p:selectOneMenu>                              
                            </h:panelGrid>
                            <p:commandButton value="Hinzufügen" styleClass="mybutton" actionListener="#{usermanagementBean.insert}" update="usertable p1"/>
                        </p:tab>
                        <p:tab title="User ändern" id="tab2">
                            <h:panelGrid columns="2" cellpadding="50px">
                                <h:dataTable var="user" value="#{usermanagementBean.us.list}" styleClass="datatable" id="usertable">
                                    <h:column>
                                        <f:facet name = "header">
                                            <h:outputText value="ID"/>
                                        </f:facet>
                                        <p:outputLabel value="#{user.id}"/>
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Username"/>
                                        </f:facet>
                                        <p:outputLabel value="#{user.username}"/>
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="E-Mail"/>
                                        </f:facet>
                                        <p:outputLabel value="#{user.email}"/>
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Feuerwehr"/>
                                        </f:facet>
                                        <p:outputLabel value="#{usermanagementBean.fs.getLocationToFirebrigadeID(user.firebrigadeID)}"/>
                                    </h:column>

                                    <h:column>
                                        <f:facet name = "header">
                                            <h:outputText value="Userrecht"/>
                                        </f:facet>
                                        <p:outputLabel value="#{usermanagementBean.urs.getUserrightToID(user.userrightID)}"/>
                                    </h:column>

                                    <h:column>
                                        <p:commandButton icon="fa fa-fw fa-edit" value="" actionListener="#{usermanagementBean.edit(user)}"
                                                         update="edittable" style="background-color: #08088A; color: white;" ajax="false"/>
                                    </h:column>

                                    <h:column>
                                        <p:commandButton value="" icon="fa fa-fw fa-remove" 
                                                         style="background-color: #08088A; color: white;" ajax="false"
                                                         actionListener="#{usermanagementBean.delete(user)}" update="usertable">      
                                        </p:commandButton>
                                    </h:column>
                                </h:dataTable>
                                <h:panelGrid columns="2" id="edittable">
                                    <p:outputLabel value="ID" />
                                    <p:inputText value="#{usermanagementBean.currentUser.id}" disabled="true"/>
                                    <p:outputLabel value="Username" />
                                    <p:inputText value="#{usermanagementBean.currentUser.username}"/>
                                    <p:outputLabel value="E-Mail" />
                                    <p:inputText value="#{usermanagementBean.currentUser.email}"/>
                                    <p:outputLabel value="Feuerwehr" />
                                    <p:selectOneMenu value="#{usermanagementBean.currentfirebrigade}" converter="firebrigadeConv">
                                        <f:selectItems var="firebrigade" value="#{usermanagementBean.fs.list}" itemValue="#{firebrigade}" itemLabel="#{firebrigade.location}" />
                                    </p:selectOneMenu> 
                                    <p:outputLabel value="Userrecht" />
                                    <p:selectOneMenu value="#{usermanagementBean.currentUserright}" converter="userrightConv">
                                        <f:selectItems var="userright" value="#{usermanagementBean.urs.list}" itemValue="#{userright}" itemLabel="#{userright.userright}" />
                                    </p:selectOneMenu>    
                                    <p:commandButton value="Speichern" styleClass="mybutton" actionListener="#{usermanagementBean.save}" update="edittable usertable"/>
                                    <p:commandButton value="Abbrechen" actionListener="#{usermanagementBean.cancel}" update="edittable"
                                                     styleClass="mybutton"/>
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </pm:content>
            </pm:page>
        </h:form>
    </h:body>
</html>

